/* eslint no-use-before-define: 0 */  // --> OFF
/* eslint no-use-before-define: 2 */  // --> ON
.product-card-admin {
  margin-bottom: 10px;
  border-radius: 10px;

  .product-currency {
    font-size: 10px;
  }

  .product-price {
    font-size: 20px;
  }
}

.product-card-image-admin {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}