.login-form {
  margin-top: 40px;
}

.login-link-recover{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #407BFF;
  margin-top: 10px;
  display: block;
}

.login-submit {
  margin-top: 50px;
  margin-bottom: 25;
}

.not-registered {
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #9E9E9E;
}

.login-link-register {
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.015em;
  text-decoration-line: underline;
  color: #407BFF;
  margin-left: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}